/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    /* font-family: sans-serif !important; */
    color: #333;
    background-color: #f5f5f5;
    line-height: normal;
}
/* Top header styling */
.language-select {
    background-color: #00153c;
    padding: 8px;
    border-radius: 5px;
}

.language-select label {
    color: #fff; /* White text for the label */
    font-weight: bold;
    margin-right: 10px; /* Space between label and select box */
}

.language-select select {
    background-color: #fff;
    color: #000; /* Black text for select box */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 80px;
}

.language-select select:hover {
    border-color: #00153c;
}

.language-select select:focus {
    outline: none;
    border-color: #0055a5;
    box-shadow: 0 0 5px rgba(0, 85, 165, 0.5);
}

.sf-top-header {
    background-color: #00153c;
    /* background-image: url(/images/header_background.png); */
    padding: 10px 0;
}
.geo-navigation .nav-link {
    color: white !important;
}

.social-icons i {
    font-size: 28px;
}

/* search box styling */

.sbox {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    transition: width 0.8s;
}
.sbox:hover input {
    width: 200px;
}
.sbox input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.sbox input:focus {
    width: 200px;
}
#searchButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#searchButton i {
    color: #1daf;
    font-size: 18px;
}

/* main header styling */
.main-header {
    position: relative;
    z-index: 1;
    background-image: url(/images/header_background.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
    height: auto;
}

/* .header-logo {
    display: flex;
    justify-content: end;
    align-items: center;
} */

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.header-logo img {
    /* width: 150px; */
    height: auto;
    display: block;
}


/* Media Query for Medium and Large Screens (Tablets and Laptops) */
@media (min-width: 768px) {
    .header-logo img {
        width: 140px;
    }
    .header-text p.h1 {
        font-size: 2rem;
    }
    .header-text p.h2 {
        font-size: 1.5rem;
    }
}

/* Media Query for Small Screens (Mobile Devices) */
@media (max-width: 767px) {
    .main-header {
        text-align: start;
    }

    .row {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .header-logo img {
        width: 80px;
    }

    .header-text p.h1 {
        font-size: 1.5rem;
    }

    .header-text p.h2 {
        font-size: 1.2rem;
    }
}
#sf-main-header {
    background-color: white; /* Your preferred background color */
    padding: 10px 0;
}

#sf-main-header .logo img {
    display: flex;
    mix-blend-mode:darken;
    margin-left: -100px !important;
    /* margin-bottom: 10px; */
    margin-top: -5px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    background-color: transparent;
    width: 100%;
    transition: background-color 0.3s ease;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav .nav-item {
    flex-grow: 1;
    text-align: center;
}

.navbar-nav .nav-link {
    font-family: "Open Sans", system-ui;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 1.5px;
    color: white !important;
    display: block;
    padding: 15px;
    text-align: center;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    background-color: #00477d;
    border-radius: 2px;
}

/* Dropdown Menu */
.navbar-nav .dropdown-menu {
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px); /* Move down slightly for transition effect */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    background-color: #00153c;
    border: none; 
}

/* Show the dropdown menu */
.navbar-nav .dropdown-menu.show {
    opacity: 90%;
    visibility: visible;
    transform: translateY(0); /* Move back to normal position */
}

/* Dropdown menu links */
.navbar-nav .dropdown-menu a {
    background-color: #00153c;
    color: white;
    font-weight: 400px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: yellow;
    background-color: #00477d; /* Slight background on hover */
}
@media (min-width: 990px) and (max-width: 1202px) {
    .navbar-nav .nav-link i {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin-bottom: 8px;
    }
}
/* Initial styles for the navbar wrapper */
.navWrapper {
    background-color: #00153c;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
        transform 0.3s ease;
}

/* Sticky state with transition effects */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #00153c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: background-color 0.5s ease, box-shadow 0.5s ease,
        transform 0.5s ease;
}

/* Optional: Shrink the height slightly when the navbar is sticky */
.sticky .navbar {
    padding: 10px 0;
    transition: padding 0.3s ease;
}

/* Transition effects for navbar links when sticky */
.sticky .navbar-nav .nav-link {
    transition: color 0.3s ease;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
}

/* breadcrumb items styling */

.breadcrumb {
    padding: 0; /* Remove padding */
    margin-bottom: 1rem; /* Adjust margin */
}

.breadcrumb-item a {
    color: #003262; /* Theme color for links */
    text-decoration: none; /* Remove underline from links */
}

/* Home Content Styling */
/* General styling for the container */
.home-content {
    padding: auto;
    margin: auto;
}

/* carousel styling */

.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 40vh;
    }
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 0;
}

/* Collaborators styling */

.collaborators-section {
    background-color: #f8f9fa;
}

.collaborator-card {
    text-align: center;
    transition: transform 0.3s ease;
}
.collaborator-card:hover {
    transform: translateY(-5px);
}

.collaborator-card img {
    object-fit: cover;
    border: 5px solid #fff;
    width: 200px;
    height: 200px;
    object-fit: contain;
    mix-blend-mode: darken;
}
.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
    .collaborators-slider {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .collaborators-slider .row {
        flex-wrap: nowrap;
    }

    .collaborators-slider .col-sm-6 {
        display: inline-block;
        float: none;
        width: 80%;
    }

    .btn-slider {
        display: none;
    }
}
 /* Events and news calender styling */
 /* Calendar Grid and Days */
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day, .empty-day, .prev-month-day, .next-month-day {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    position: relative; /* For positioning the hover effect */
}

/* Hover Effect for Day Cells */
.calendar-day:hover, .prev-month-day:hover, .next-month-day:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Slightly change background on hover */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Creates a thin border around the cell */
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2); /* Inner shadow for a recessed effect */
    cursor: pointer;
}

/* Style for Today’s Date */
.calendar-day.today {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none; 
}

/* Style for Weekend Days */
.calendar-day.weekend {
    color: #201f1fc2; 
}

/* Style for Previous and Next Month Days */
.prev-month-day, .next-month-day {
    color: #666; /* Muted color for previous/next month days */
    background-color: #e0e0e0; /* Darker background for differentiation */
}

/* Event Day Styling */
.event-day {
    position: relative;
    background-color: #ffcc00; /* Highlight color for event days */
    color: black;
    font-weight: bold;
}

/* Hover Effect for Event Days */
.event-day:hover {
    background-color: #ffb700; /* Darker shade on hover */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Outline on hover */
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2); /* Stronger hover effect for event days */
}

/* Pin Icon for Event Days */
.event-day::after {
    content: "📌"; /* Use the pin emoji or replace with an image URL if you prefer a custom icon */
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px; /* Adjust the size of the pin as needed */
    color: red; /* Change color of the pin if desired */
}

/* dropdown-menu investigators pages styling */
.investigator {
    margin-bottom: 50px;
}
.investigator img {
    max-width: 100%;
    border-radius: 5px;
}
.investigator .btn-download {
    margin-top: 10px;
}

/* gallery page styling  */
.gallery-img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.lb-outerContainer {
    background-color: transparent;
}

.lb-dataContainer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.lb-data .lb-caption {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.lb-data .lb-number {
    color: #cccccc;
}

@media (max-width: 767.98px) {
    .col-12 {
        margin-bottom: 15px;
    }
}

/* General styling for the links page */

.links-list {
    list-style-type: disc;
    padding-left: 20px;
    display: grid;
    justify-content: flex-start;
}

.links-list li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.links-list a {
    color: #007bff; /* Blue color for links */
    text-decoration: dotted;
}

.links-list a:hover {
    text-decoration: underline; 
}

/* Responsive styling */
@media (max-width: 768px) {
    .links-page {
        flex-direction: column;
    }
}

/* General About page styling */

.card {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .col-md-4 {
        margin-top: 2rem;
    }
}

/* Google map integrate styling */
.map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.map-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    margin-top: 2.5rem;
}

.map-overlay h3 {
    margin: 0;
    font-size: 1.2rem;
}

.map-overlay p {
    margin: 5px 0 0;
    font-size: 1rem;
}

.map-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

@media (max-width: 768px) {
    .map-container {
        padding-bottom: 75%;
    }
}

/* staff member styling  */

.team-member {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #fff;
}

.team-member h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #333;
}

.team-member p {
    margin-bottom: 5px;
    color: #666;
}

.team-member .qualification {
    font-style: italic;
}

.team-member .position {
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .team-member img {
        width: 150px;
        height: 150px;
    }

    .team-member h3 {
        font-size: 1.2rem;
    }

    .team-member p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .team-member img {
        width: 120px;
        height: 120px;
    }

    .team-member h3 {
        font-size: 1rem;
    }

    .team-member p {
        font-size: 0.8rem;
    }
}

/* feedback page styling */
.rating {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}
.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    padding: 0 0.1rem;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: gold;
}

/* General Footer Styling */

.site-footer {
    background-color: #00153c;
    color: #ccc;
    font-family: Arial, sans-serif;
    padding: 40px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* max-width: 1300px; */
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em;
}

/* Contact Details Section */
.footer-left {
    width: 45%;
    text-align: left;
    padding-left: 50px;
    line-height: 2px;
}

.footer-left h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.footer-left p {
    margin-bottom: 10px;
    font-size: 0.95em;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin-right: 10px;
    color: #ccc;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
}

/* Logo and Research Project Section */
.footer-right {
    width: 45%;
    text-align: right;
    padding-right: 50px;
}

.logos {
    margin-bottom: 15px;
}

.footer-logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.research-description {
    margin-bottom: 15px;
    font-size: 0.9em;
    line-height: normal;
}

.footer-links {
    display: inline-block;
    position: relative;
}
.external-link {
    position: relative;
    display: inline-block; /* Keeps the link text and icon together */
}

.external-link i {
    position: absolute;
    top: 2px;
    right: -12px;
    font-size: 0.75em;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 0.8rem;
}

.footer-links a:hover {
    text-decoration: none;
    color: #66afe9;
}

/* Footer Bottom Section */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #555;
    padding-top: 10px;
    color: #999;
    font-size: 0.8rem;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #66afe9;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-right {
        text-align: end;
        padding-right: 20px;
    }
    .logos {
        text-align: end;
        padding-right: 20px;
    }
    .footer-logo {
        margin-bottom: 10px;
    }
}
