/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    line-height: normal;
}

/* Header styling */
.main-header {
    background-color: #003262;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; /* Ensures the header stays above other content */
    height: auto; /*25%*/
    display: flex;
    flex-direction: row; /*not included*/
}

.header-container {
    display: flex; /*not included*/
    align-items: center;
}

.logo {
    width: 176px;
    height: auto;
    margin-left: 21px;
    /* display: flex; */
    margin-top: -3px;
}

/* Media query for smaller devices like tablets and mobile */
@media (max-width: 768px) {
    .main-header {
        padding: 10px;
        flex-direction: column; /* Stack elements vertically */
        text-align: center;
    }

    .header-container {
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo {
        width: 120px;
        margin-left: 0;
        margin-top: 0;
    }

    h2 {
        font-size: 1.25rem;
    }
}

/* Media query for extra small devices (like smartphones) */
@media (max-width: 480px) {
    .main-header {
        padding: 5px;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 100px;
    }

    h2 {
        font-size: 1rem;
    }
}

/* main body styling */
.main-container {
    margin: 50px;
}

/* Navbar styling  */

.navbar {
    justify-content: flex-end;
    padding: 0px !important;
}
.navbar ul {
    font-family: "FontAwesom";
    font-weight: 600;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #615653;
    width: 100%;
    height: auto;
    padding-right: 50px;
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 0px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    /* text-align: center; */
    transition: background-color 0.3s ease;
}
.navbar a:hover {
    background-color: rgb(167, 21, 21);
    color: white;
}
.navbar li a {
    float: left;
    align-items: end;
}
.main-nav a.active {
    background-color: rgb(167, 21, 21);
    color: white; /* Optional: Adjust the text color */
}

/* For smaller screens (mobile devices) */
@media (max-width: 768px) {
    .navbar ul {
        display: block;
        flex-direction: column;
        /* width: 100%; */
    }
    .navbar a {
        width: 100%;
    }
}

/* Home Content Styling */
/* General styling for the container */
.home-content {
    padding: auto;
    margin: auto;
    width: 100%;
}

/* carousel styling */

.carousel-item {
    height: 60vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 40vh;
    }
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: #0d6efd;
    color: white;
}

.btn-group .btn {
    transition: all 0.3s ease;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

#pausePlayBtn:hover {
    background-color: #0056b3;
}

.carousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Collaborators styling */

.collaborators-section {
    background-color: #f8f9fa;
}

.collaborator-card {
    text-align: center;
    transition: transform 0.3s ease;
}

.collaborator-card:hover {
    transform: translateY(-5px);
}

.collaborator-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.btn-slider:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-prev {
    left: -20px;
}

.btn-next {
    right: -20px;
}

@media (max-width: 767.98px) {
    .collaborators-slider {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .collaborators-slider .row {
        flex-wrap: nowrap;
    }

    .collaborators-slider .col-sm-6 {
        display: inline-block;
        float: none;
        width: 80%;
    }

    .btn-slider {
        display: none;
    }
}


/* publications page styling  */

.publication-item {
    line-height: 1.2;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: "FontAwesome";
    font-size: medium;
}

.publication-item a:hover {
    text-decoration: underline;
}

.conference-item {
    list-style-type: none;
}

/* General styling for the links page */

/* Links container styling */
.links-container {
    flex: 1; /* Occupies two-thirds of the page */
    display: wrap;
}

.links-container h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.links-list {
    list-style-type: disc;
    padding-left: 20px;
    display: grid;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.links-list li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.links-list a {
    color: #007bff; /* Blue color for links */
    text-decoration: dotted;
}

.links-list a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Sidebar styling with orange box */
.sidebar {
    flex: auto; /* Sidebar takes one-third of the page */
    display: flex;
    display: block;
    background-color: #d9534f; /* Orange background */
    padding: 20px; /* Padding for some spacing */
    color: white; /* White text color */
    /* margin-top: 5px; */
    /* margin-right: 0px; */
    /* margin-bottom: 30px; */
    margin-left: 100px;

    padding-top: 4em;
    padding-right: 6em;
    /* padding-bottom: 1.5em; */
    /* padding-left: 1em; */
    height: 20rem;
    width: 20rem;
}

.highlight-box {
    /* padding: 100px;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 15px; /* Space between boxes */
    /* display: flex; */
    /* justify-content: center; */
    /* display: block; */
    font-size: 24px;
    font-style: normal;
    text-align: left;
    border: 0;
    font-weight: 100;
}

/* Responsive styling */
@media (max-width: 768px) {
    .links-page {
        flex-direction: column; /* Stack links and sidebar vertically on smaller screens */
    }

    .sidebar {
        margin-top: 20px; /* Add space between links and sidebar */
    }
}

/* General page contact styling */

.contact-page h1 {
    font-size: 2.5em; /* Make the heading prominent */
    color: #333; /* Darker heading color for contrast */
    margin-bottom: 20px;
}

.contact-page p {
    font-size: 1.1em;
    color: #555; /* Lighter color for text */
    margin-bottom: 10px;
}

.contact-page a {
    color: #007bff; /* Standard link color */
    text-decoration: none;
    font-weight: bold;
}

.contact-page a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* General Footer Styling */
.site-footer {
    background-color: #024242; /* Dark background for footer */
    justify-content: space-between;
    color: #ccc; /* Light text color */
    font-family: Arial, sans-serif; /* Clear and simple font */
    padding: 30px 0; /* Padding for top and bottom */
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto; /* Center align the footer content */
    width: 100%; /* Ensure the content takes full width of footer */
    font-size: medium;
}

.footer-left,
.footer-right {
    width: 55%; /* Left and right sections occupy equal width */
    font-family: "FontAwesom";
}

.footer-left {
    width: 45%; /* Adjust width to fit the left side better */
    text-align: left;
    margin-top: 2rem;
    /* margin-left: 1.5rem; */
}

a {
    display: inline-block;
    /* margin-right: 10px; Adjust this value to control the space */
}

.social-icon {
    margin-left: 1.2rem;
}

.footer-right {
    width: 45%; /* Adjust width to fit the right side */
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
}

.footer-logo {
    width: 150px; /* Adjust logo size */
    margin-bottom: 15px; /* Add some space below the logo */
    flex-direction: column;
    margin-left: 24px;
}

.footer-content p,
.footer-content a {
    color: #ccc; /* Text and link color */
    margin: 5px 0; /* Spacing between lines */
    font-size: 0.9em; /* Slightly smaller font for a clear look */
    display: flexbox;
    flex-direction: column;
    margin-left: 24px;
}

.footer-content a {
    text-decoration: none;
    /* color: #66afe9; Blue color for links */
    margin-left: 4px;
}

.footer-content a:hover {
    text-decoration: underline; /* Underline links on hover */
    color: white;
}

/* Footer bottom section for copyright */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555; /* Separator line */
    padding-top: 10px;
    color: #999;
}

.footer-bottom a {
    color: #66afe9; /* Blue link color in the bottom section */
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #fff; /* Change to white on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack content vertically on smaller screens */
        text-align: center;
    }

    .footer-left,
    .footer-right {
        width: 100%; /* Full width for both sections */
        margin-bottom: 20px;
    }
}
